* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}



.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140;
    width: 90%;
    margin: 0 auto;

    height: 92px;

    gap: 40px;
}

.pic {

    width: 139px;
    height: 60px;

}

ul {
    display: flex;

    align-items: center;
    gap: 32px;
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16;
    width: 102px;
    height: 24px;
    line-height: 152%;
    gap: 32px;


}

li a:hover {
    color: #30B868;
}

.btn1 {
    width: 164px;
    height: 44px;
    border-radius: 4px;
    border-style: none;
    padding: 16px;
    gap: 10px;
    background-color: #469165;

    color: white;

    font-weight: 600;
    font-size: 16;
    font-style: semi-bold;
    line-height: 100%;


}

.btn1:hover {
    background-color: #30B868;
    color: white;
    cursor: pointer;
    transform: scale(1.01);
}

header {


    width: 100%;
    margin: 0 auto;

}

#banner {
    text-align: center;
    background: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 179.5PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#banner .small {
    display: flex;
    gap: 6px;
    width: 229px;
    height: 35px;
    border-radius: 1000px;

    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 115.5px;
    color: #469165;
    font-size: 14px;
}

#banner .small:hover {

    background-color: #30B868;
    color: white;
    cursor: pointer;
    transform: scale(1.01);
}



#banner .big {

    display: block;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    color: white;

    margin-top: 51px;
    margin-bottom: 76px;


}

#banner #secondline {
    color: #30B868;
}

#banner .para {
    margin: 0 auto;

    height: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 32px;
    color: white;
}

#banner .btn-green {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 465px;
    height: 52px;
    gap: 16px;
    text-align: center;
    margin: 0 auto;
}

#banner .green {
    margin: 0 auto;
    width: 251px;
    height: 52px;
    border-radius: 4px;
    padding: 12px 16PX;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: white;
    text-decoration: none;

    background-color: #469165;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#banner .green:hover {
    background-color: #30B868;
    cursor: pointer;
    transform: scale(1.01);
}


#banner .white {
    margin: 0 auto;
    width: 198px;
    height: 52px;
    border-radius: 4px;
    padding: 12px 16px;
    gap: 10px;
    background-color: white;
    border: 1px solid #469165;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: #469165;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#banner .white:hover {
    transform: scale(1.01);
    cursor: pointer;
    color: #30B868;
}


#section2 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
    padding-top: 40px;
}

#section2 .s2heading {
    height: 116px;
    gap: 16px;
    padding-bottom: 16px;
    line-height: 100%;
    padding-top: 50px;
}

#section2 .s2heading h2 {
    color: #001931;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 48px;
}

#section2 .para2 {
    height: 20px;
    color: #627382;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
}

#section2 .cards {
    margin: 0 auto;
    padding-top: 44px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;

}

#section2 .card1,
.card2,
.card3,
.card4 {
    min-height: 300px;
    width: 100%;
    max-width: 322px;
    border-radius: 8px;
    padding: 24px;
    gap: 16px;

    box-shadow: 0 0 8px 0 rgb(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section2 .cards h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #001931;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;

}

#section2 .cards p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
    padding-bottom: 21.5px;
}


#section2 .cards img {
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 16px;
}



#section3 .contents {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 190px;
}

#section3 .pic2 img {
    width: 520px;
    height: auto;
}

#section3 .text2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#section3 .lists {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#section3 .sublist {
    display: flex;
    gap: 5px;
}

#section3 .para3 {
    width: 50%;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

#section3 .bigtext {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    line-height: 100%;
}

#section3 .sec3top {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
}


#section4 .content4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 130px 0 130px;
    background-color: #F7F6F2;
    gap: 24px;
    padding: 80px 40px;
    border-radius: 12px;
}

#section4 .s4heading {
    font-size: 40px;
    font-weight: 700;
    color: #001931;
}

#section4 .para4 {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#section4 .btn2 {
    width: 164px;
    height: 44px;
    border-radius: 4px;
    border-style: none;
    padding: 12px 16px;
    background-color: #469165;
    color: white;
    font-weight: 600;
    font-size: 16;
    font-style: semi-bold;
    line-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#section4 .btn2:hover {
    background-color: #30B868;
    color: white;
    cursor: pointer;
    transform: scale(1.01);
}

#section4 .s4bottom {
    color: #627382;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

footer {
    background-color: #001931;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.links {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: white;
    padding-bottom: 15px;
}

.icons {
    display: flex;
    gap: 20px;
}



.socials img {
    background-color: white;
    border-radius: 50%;
    width: 25px;
}


.bottom {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 30px;
    color: #fafafa;
}