*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140;
    width: 90%;
    margin: 0 auto;

    height: 92px;

    gap: 40px;
}

.pic{

    width: 139px;
    height: 60px;
 
}
    
ul{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 32px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16;
    width: 102px;
    height: 24px;
    line-height: 152%;
    gap: 32px;


}

li a:hover{
    color: #30B868;
}

.btn1{
    width: 164px;
    height: 44px;
    border-radius: 4px;
    border-style: none;
    padding: 12 16 12 16;
    gap: 10px;
    background-color: #469165;
    
    color: white;
    
    font-weight: 600;
    font-size: 16;
    font-style: semi-bold;
    line-height: 100%;   

}

.btn1:hover{
    background-color: #30B868;
    color: white;
    cursor: pointer;
}

header{
    

    width: 100%;
    margin: 0 auto;
    
}
.banner{
    text-align: center;

    background: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 100%;
    min-height: 100vh;
    padding-bottom: 179.5PX;
    position: relative;
    
    

}

.small{
    display: flex;
    gap: 6px;
    width: 229px;
    height: 35px;
    border-radius:1000px ;
   
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 115.5px;
    color: #469165;
}

.small:hover{
    
    background-color: #30B868;
    color: white;
    cursor: pointer;
}

h5{
    text-align: center;
    
    margin: 0 auto;
    
    width: 183px;
    height: 19px;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
  
}

.big{
    
    display: block;
    justify-content: center;
    align-items: center;
 
    margin: 0 auto;
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    color: white;

    margin-top: 51px;
    margin-bottom: 76px;
    

}

#st2{
    color: #30B868;
}

.para{
    margin: 0 auto;
    
    height: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 32px;
    color: white;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 465px;
    height: 52px;
    gap: 16px;
    text-align: center;
    margin: 0 auto;
}

.green {
    margin: 0 auto;
    width: 251px;
    height: 52px;
    border-radius: 4px;
    padding: 12px 16PX ;
    gap: 10px;
    
    background-color: #469165;
    border-style: none;
}

.green:hover{
    background-color: #30B868;
    cursor: pointer;
}

.green a{
    width: 189px;
    height: 19px;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: white;
    text-decoration: none;
    
}

.white{
    margin: 0 auto;
    width: 198px;
    height: 52px;
    border-radius: 4px;
    padding: 12 16 12 16;
    gap: 10px;
    
    background-color: white;
    border:1px solid #469165
}

.white a{
    width: 136px;
    height: 19px;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: #469165;
    text-decoration: none;
}

.white:hover{
    color: #30B868;
    cursor: pointer;
    background-color: white;
}

.white a:hover{
    color: #30B868;

}


#section2{
   
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    
   
}

.text{
    height: 116px;
    gap: 16px;
    padding-bottom: 16px;
    line-height: 100%;
    padding-top: 50px;
}

.text h2{
    color:#001931; 
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 48px;
}

.para2{
    height: 20px;
    color: #627382;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
}

.cards{
    margin: 0 auto;
    padding-top: 44px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    display: flex;
}

.card1, .card2, .card3, .card4{
    min-height: 300px;
    width: 100%;
    max-width: 322px;
    border-radius: 8px;
    padding: 24px;
    gap: 16px;
    border: 3px solid blue;
    box-shadow: 0 0 8px 0 rgb(0, 0, 0, 0.6 );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards h5{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #001931;  
     justify-content: center;
     align-items: center;
     display: flex;
     margin: 0 auto;
}

.cards p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
    padding-bottom: 21.5px;
}
